
# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarn/mocha.js
yarn-error.log
.pnp.cjs

# TypeScript
*.tsbuildinfo
dist/

# Hardhat files
cache/
artifacts/
typechain/

# Environment file
.env
